/* Preloader */
div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: visible;
    background: white url('../img/preloader.gif') no-repeat center center;
    margin: 0;
}